.toggle-questions {
  background: rgb(255, 186, 118);
  margin: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
.toggle-option {
  padding: 20px 0px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.active {
  animation: backgroundAnimation 2s;
  animation-fill-mode: forwards;
  font-weight: bold;
  border-radius: 50px;
}
@keyframes backgroundAnimation {
  from {background-color: rgba(219, 195, 171, 0.5);}
  to {background-color: rgb(173, 146, 119)}
}

label:hover {
  background-color: rgba(219, 195, 171, 0.5);
  border-radius: 50px;
}

input {
  -webkit-appearance: none;
}