.toggle-questions {
  background: rgb(255, 208, 160);
  margin: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}
.toggle-option {
  padding: 20px 0px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.active {
  background: rgb(114, 83, 51);
  border-radius: 50px;
}
input {
  -webkit-appearance: none;
}